gender-guesser==0.4.0
pymysql
plotly
matplotlib
mplcyberpunk
yfinance
streamlit
numpy==1.18.5
xmltodict
urllib3
seaborn==0.11.0
streamlit-lottie
print_function
requests
pandas
plotly.graph_objects
datetime
make_subplots
numpy
time
Image
datetime
time
matplotlib.pyplot
datetime
get_ipython
ThreadPoolExecutor
